/*
 * Empty Stylesheet file.
 */

* {
    -fx-font-family: 'Courier New';
}

.root {
    /* Path is relative to the CSS file location */
    -fx-background-image: url("imagenes/Menu.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.titulo {
    -fx-font-size: 48px;
    -fx-text-fill: #FFD700;
    -fx-effect: dropshadow(gaussian, #FF4500, 10, 0.5, 0, 0);
}

.boton {
    -fx-opacity: 0.65;
    -fx-background-color: #000000;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
    -fx-font-family: "Aptos", sans-serif;
    -fx-font-size: 18px;
    -fx-border-color: #FFD700;
    -fx-border-width: 2px;
    -fx-padding: 10 30 10 30;
    -fx-cursor: hand;
}

.boton:hover {
    -fx-background-color: #FFD700;
    -fx-text-fill: #000000;
}
